<p-card header="Public Messages" class="shadow-4"  [ngStyle]="{'width': '10rem'}">  
    <div [ngStyle]="{'max-width': '46rem'}" 
    class="mt-3 flex flex-row flex-nowrap justify-content-start align-items-start">
        <div class="">
            <span class="p-float-label">
            <input  class="w-4rem" pInputText id="name" [(ngModel)]="nameValue" #nameInput/>
            <label htmlFor="name">Name</label>
            </span>
        </div>
        <div class="ml-1">
            <span class="p-float-label">
            <input  class="w-11rem" pInputText id="message" [(ngModel)]="messageValue" #messageInput/>
            <label htmlFor="message">Message</label>
            </span>
        </div>
        <div class="ml-3">
            <p-button label="Submit Message To WebSocket Chat" icon="pi pi-check" (click)="sendMessage(nameInput, messageInput)"></p-button>
        </div>

    </div>
    <div
    [ngStyle]="{'min-height': '10rem', 'width': '100%'}"
    class="dcard m-auto text-align-start mt-5"
    >
        <ul>
            <li *ngFor="let message of messages">{{ message }}</li>
        </ul>
    </div>
</p-card>