/* You can add global styles to this file, and also import other style files */

.dcard {
    border: 4px solid rgb(81, 81, 81);
    border-radius: 0.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgba(234, 234, 234, 0.494);
    padding: 1rem;
}