
<div class="card flex flex-column justify-content-center align-items-center mt-5">
  <!-- <span class="p-float-label">
  <input pInputText id="message" [(ngModel)]="messageTwoWayValue" #messageInput/>
  <label htmlFor="message">Message</label>
  </span>
  <small id="message-help">Enter your message</small>
  <p-button label="Submit New Public Message" icon="pi pi-check" (click)="submitNewPublicMessage(messageInput)"></p-button>
  <p-button label="Get All Public Messages" icon="pi pi-check" (click)="getAllMessages()"></p-button>
   -->
  
  <ol>
    <li>Jest</li>
    <li>JSON Web token</li>
    <li>store in browser local storage</li>
    <li>return headers from server</li>
    <li>create vanilla js ui</li>

  </ol>
</div>

