<p-card class="flex flex-column flex-nowrap justify-content-start align-items-start">
    <form #userLoginForm="ngForm" (ngSubmit)="attemptUserLogin(userLoginForm)">
        <div>
            <span class="p-float-label">
            <input pInputText id="username" name="username" [(ngModel)]="username"/>
            <label htmlFor="username">Username</label>
            </span>
        </div>
        <div class="mt-4">
            <span class="p-float-label">
            <input pInputText id="password" name="password" [(ngModel)]="password"/>
            <label htmlFor="password">Password</label>
            </span>
        </div>
        <div class="mt-4">
            <p-button label="Login" icon="pi pi-check" type="submit"></p-button>
        </div>
    </form>
</p-card>